services:
  server:
    image: "nginx:stable-alpine"
    ports:
      - "8000:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php
      - mysql
    networks:
      - laravel
  php:
    build:
      context: .
      dockerfile: ./dockerfiles/php.dockerfile
    volumes:
      - ./src:/var/www/html:delegated
    ports:
      - "3000:9000"
    networks:
      - laravel
  mysql:
    image: "mysql:8.4"
    env_file:
      - ./env/mysql.env
    networks:
      - laravel
  composer:
    build:
      context: ./dockerfiles
      dockerfile: composer.dockerfile
    volumes:
      - ./src:/var/www/html:delegated
    networks:
      - laravel

  artisan:
    build:
      context: .
      dockerfile: ./dockerfiles/php.dockerfile
    volumes:
      - ./src:/var/www/html:delegated
    entrypoint: ["php", "/var/www/html/artisan"]
    networks:
      - laravel

  npm:
    image: "node:22-alpine"
    working_dir: /var/www/html
    entrypoint: ["npm"]
    volumes:
      - ./src:/var/www/html
    networks:
      - laravel

networks:
  laravel:
    driver: bridge
